VITE_SUPABASE_URL=https://qkshkkplmnmtoeudweap.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFrc2hra3BsbW5tdG9ldWR3ZWFwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ2MTczMDYsImV4cCI6MjA5MDE5MzMwNn0.BbDVqxKrsn69-6S0SMOcdaGu7a9oKl8NP_GtP46dTRs
